<html>
<head>
    <title>Mercado de Frutas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>

    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
          <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <strong>Mercado</strong>
            </a>
          </div>
        </div>
    </header>

    <main role="main">
        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">¡Gracias por ordenar del Mercado de Frutas!</h1>
            <p class="lead text-muted">
              Creaste una orden con {{ total_frutas }} elementos.
            </p>
          </div>
        </section>

        <div class="album py-5 bg-light">
          <div class="container">
                <h4 class="mb-3">Tu orden</h4>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Fruta</th>
                        <th>Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if fresa > 0 %}
                    <tr>
                        <td>Fresa/Frutilla</td>
                        <td>{{ fresa }}</td>
                    </tr>
                    {% endif %}
                    {% if frambuesa > 0 %}
                    <tr>
                        <td>Frambuesa</td>
                        <td>{{ frambuesa }}</td>
                    </tr>
                    {% endif %}
                    {% if manzana > 0 %}
                    <tr>
                        <td>Manzana</td>
                        <td>{{ manzana }}</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>

                <h4 class="mb-3">Información de la Orden</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        Nombre: {{ nombre }}
                    </div>
                    <div class="col-md-6 mb-3">
                        Apellido: {{ apellido }}
                    </div>
                </div>

                <div class="mb-3">
                    E-mail: {{ email }}
                </div>
              
                <hr class="mb-4">
                <a class="btn btn-primary btn-lg btn-block" href="/">Regresar</a>
            
          </div>
        </div>

    </main>
</body>
</html>
